<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Arrivals">
        <div style="height: 190px;">
            <p>Enter interval in mins</p>
            <form action="" class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput [(ngModel)]="pastTime" name="pastTime" type="number" max="10080" required>
                </mat-form-field> 
            </form>
            <div mat-dialog-actions>
              <button mat-button (click)="onNoClick()" color="accent">Cancel</button>
              <button mat-button color="primary" cdkFocusInitial
                (click)="getArrivals(data.airportIndex)">Get Arrivals</button>
            </div>
        </div>
        <section *ngIf="showProgress" class="spinner-section">
          <mat-progress-bar class="spinner-margin" mode="indeterminate"></mat-progress-bar>
        </section>
    </mat-tab>
    <mat-tab label="Departures">
        <div style="height: 190px;">
          <p>Enter interval in mins</p>
          <form action="" class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="pastTime" name="pastTime" type="number" max="10080" required>
            </mat-form-field>
          </form>
          <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()" color="accent">Cancel</button>
            <button mat-button color="primary" cdkFocusInitial (click)="getDepartures(data.airportIndex)">Get
              Departures</button>
          </div>
          <section *ngIf="showProgress" class="spinner-section">
            <mat-progress-bar class="spinner-margin" mode="indeterminate"></mat-progress-bar>
          </section>
        </div>
    </mat-tab>
  </mat-tab-group>
</div>

