<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Open Sky</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
        <mat-icon class="sidenav-icon">dashboard</mat-icon> Dashbard
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen1']">
        <mat-icon class="sidenav-icon">build</mat-icon> Screen1
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/screen2']">
        <mat-icon class="sidenav-icon">people</mat-icon> Screen2
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container> -->

<!-- <mat-toolbar color="primary">Open Sky</mat-toolbar> -->
<mat-toolbar color="primary">
  <span>Open Sky</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <a mat-raised-button color="accent" [routerLink]="['/login']">Logout</a>
</mat-toolbar>

<div class="container">
    <mat-grid-list cols="4" rowHeight="4:3" gutterSize="1rem">
      <a [routerLink]="['/dashboard']">
          <mat-grid-tile *ngFor="let airport of airPortMocks; let i = index" (click)="openTabDialog(i)">
            <mat-grid-tile-header color="accent">{{airport.location}}</mat-grid-tile-header>
            <mat-grid-tile-footer color="primary">{{airport.country}}</mat-grid-tile-footer>
            {{airport.name}}
          </mat-grid-tile>
      </a>
      
    </mat-grid-list>
</div>

<!-- <dialog-panel-dialog (event)='checkEvent($event)'></dialog-panel-dialog> -->
