.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.example-fill-remaining-space {
  flex: 1 1 auto;
}

.container {
    padding : 15px;
    /* margin: 15px; */
}

mat-grid-tile {
  background: rgb(78, 85, 95);
  color : #fbfbff;
  align-items: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.spinner-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 30px;
}

.spinner-margin {
  margin: 0 10px;
}