<mat-toolbar color="primary" class="app-header">
  <div><a href="https://opensky-network.org" target="_blank" class="opensky">Open Sky</a></div>
  <span class="nav-tool-items">
    <a mat-button mat-raised-button [routerLink]="['/login']" (click)="toggleForm()">Log in</a>
    <!-- <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a> -->
  </span>
</mat-toolbar>
<div class="bg">
    <div *ngIf="showForm" class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Log in</mat-card-title>
        </mat-card-header>

        <form class="example-form" (ngSubmit)="onSubmit()">
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="username" name="username" placeholder="Username" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="password" name="password" placeholder="Password" required>
            </mat-form-field>
          </mat-card-content>
          <button mat-stroked-button color="primary" class="btn-block" type="submit">Log in</button>
        </form>
      </mat-card>

    </div>
</div>

