<mat-toolbar color="primary">
  <span>Open Sky</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <div class="example-button-row">
      <a mat-raised-button color="primary" [routerLink]="['/dashboard']">Dashboard</a>
      <a mat-raised-button color="accent" [routerLink]="['/login']">Logout</a>
  </div> 
</mat-toolbar>

<div class="mat-elevation-z8 container">
  <h1 *ngIf="showArrivals" mat-dialog-title>Arrival Flights Data</h1>
  <h1 *ngIf="showDepartures" mat-dialog-title>Departure Flights Data</h1>
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="icao24">
      <th mat-header-cell *matHeaderCellDef>Transponder ID </th>
      <td mat-cell *matCellDef="let element"> {{element.icao24}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstSeen">
      <th mat-header-cell *matHeaderCellDef> Departure Time </th>
      <td mat-cell *matCellDef="let element"> {{(element.firstSeen * 1000) | date : 'long'}} </td>
    </ng-container>

    <ng-container matColumnDef="lastSeen">
      <th mat-header-cell *matHeaderCellDef> Arrival Time </th>
      <td mat-cell *matCellDef="let element"> {{(element.lastSeen * 1000) | date : 'long'}} </td>
    </ng-container>

    <ng-container matColumnDef="estArrivalAirport">
      <th mat-header-cell *matHeaderCellDef> Arrival Airport Code </th>
      <td mat-cell *matCellDef="let element"> {{element.estArrivalAirport}} </td>
    </ng-container>

    <ng-container matColumnDef="estDepartureAirport">
      <th mat-header-cell *matHeaderCellDef> Departure Airport Code </th>
      <td mat-cell *matCellDef="let element"> {{element.estDepartureAirport}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="callsign">
      <th mat-header-cell *matHeaderCellDef> Aircraft Call Sign </th>
      <td mat-cell *matCellDef="let element"> {{element.callsign}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 250, 500, 1000]" showFirstLastButtons></mat-paginator>
</div>
